*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    background-color: #F2F9ED ;
    padding-inline:1rem;

}
.title{
    text-align: center;
    color:rgb(72,163,0);
    margin-block: 1rem;
}
.title span{
    color:rgb(97,72,28);
}
.app-container{
    background-color:#FBFBFB ;
    margin-inline: auto;
    padding: 2rem;
    max-width: 650px;
    box-shadow:1px -1px 3px 0px black;;

}
.sub-title{
    display: flex;
    margin-bottom: 1rem;

}
.sun-icon{
    margin-top: -5px;
    padding-inline:0.5rem;
}
.para{
    color: #858585 ;
    size: 10px;
}
.progress-bar{
    height: 30px;
    background-color: #E9F2E2 ;
    margin-block:1rem;
    border-radius: 14px;
}
.progress-value{
    width:0%;
    height: 30px;
    background-color:#48A300 ;
    margin-block:0.5rem;
    border-radius: 14px;
}
.error{
    color: red;
    size: 10px;
    margin-block:0.5rem;
}
.error-hide{
    display: none;
}
.task-container{
    background-color: white;
    display: flex;
    margin-block: 1rem;
    /* padding-block:2rem; */
    padding-inline: 1rem;
    align-items: center;
    border: 1px solid  #858585;
    border-radius: 14px;
}
.task{
    border: none;
    outline: none;
    padding-left: 1rem;
    width: 100%;
    height: 80px;
    font-weight: 600;
}
.task::placeholder{
    color:#D9D9D9;
    font-weight: 400;
}
.ellipse:hover{
  cursor: pointer;
}
.footer-para{
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
}
.creator-name{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 10px;
}